# 顶层：最关键的三个字段
environment = "backtesting"
# F# 属 .NET 编译算法，同属 CSharp 路径
algorithm-language = "CSharp"
# 指向 Algorithm 项目编译产出的 Algorithm.dll
# 建议用绝对路径，或者你也可以用相对路径（相对运行目录 runs/.../timestamp/）
algorithm-location = "Algorithm/bin/Debug/net9.0/Algorithm.dll"

algorithm-type-name = "Algorithm.GridBot"

# Use our custom provider that returns constant bars for equity-minute data
data-provider = "MyDataProvider"

data-folder = "lean/Data"

results-destination-folder = "runs"

# 自动关闭控制台窗口（回测结束不再等待按键）
close-automatically = true
